.container {
    display: flex;
    background-color:rgb(210, 207, 199);
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid black 1px;
}

.product-image {
    padding: 20px;
    padding-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100px;
    min-height: 100px;
    object-fit: contain;
    background-color: white;
}

.body-container {
    flex: 1;
    justify-content: space-between;
    padding: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 30px;
}

.product-price {
    text-align: right;
    font-size: 18px;
    font-style: italic;
}